In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('C:\cscoding\project\\tcp2\datainput\day_input.csv', encoding = 'utf-8')
df.head()

           날짜  예약인원  예약 실제방문인원  비예약 방문인원  총방문인원
0  2017-01-01     0          0         0      0
1  2017-01-02     0          0         0      0
2  2017-01-03     0          0      1302   1302
3  2017-01-04    27         27      1083   1110
4  2017-01-05   117        117       848    965

In [3]:
#데이터 타입
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   날짜         365 non-null    object
 1   예약인원       365 non-null    int64
 2   예약 실제방문인원  365 non-null    int64
 3   비예약 방문인원   365 non-null    int64
 4   총방문인원      365 non-null    int64
dtypes: int64(4), object(1)
memory usage: 14.4+ KB

In [4]:
df.columns = ["check_date","booking ", "b_visit", "nb_visit", "totvisit"]
df.head()

   check_date  booking   b_visit  nb_visit  totvisit
0  2017-01-01         0        0         0         0
1  2017-01-02         0        0         0         0
2  2017-01-03         0        0      1302      1302
3  2017-01-04        27       27      1083      1110
4  2017-01-05       117      117       848       965

In [5]:
# columns 이름 변경 정보확인
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   check_date  365 non-null    object
 1   booking     365 non-null    int64
 2   b_visit     365 non-null    int64
 3   nb_visit    365 non-null    int64
 4   totvisit    365 non-null    int64
dtypes: int64(4), object(1)
memory usage: 14.4+ KB

In [8]:
df.to_csv("filename.csv", mode='w')